/* COLOR PREVEW */
#my_agile_privacy_backend #live-preview {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;

}

#my_agile_privacy_backend #live-preview .browser {
    position: relative;
    /* border-top: 2em solid rgba(230, 230, 230, 0.7); */
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    min-height: 300px;
    margin-top: 10px;
    background: #f2f2f2;
    overflow: hidden;
}

#my_agile_privacy_backend #live-preview .browser:before {
    display: block;
    position: absolute;
    content: '';
    top: 0.75em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}



#my_agile_privacy_backend #live-preview .browser.mobile-view {
    width: 50%;
    transform: translateX(50%);
}

#preview-cookiebanner {
    position: absolute;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
}


#preview-cookiebanner.map-shadow-soft {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#preview-cookiebanner.map-shadow-hard {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#preview-cookiebanner #preview-text-container {
    grid-area: 1 / 1 / 2 / 2;
}

#preview-cookiebanner #preview-button-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-around;
}

/*bof iab*/
#preview-cookiebanner.mapSizeWide.map-iab-context #preview-button-container{
    flex-direction: column;
    align-items: center;
}

#preview-cookiebanner.mapSizeWide.map-iab-context #preview-button-container .preview-button{
    margin-bottom: 5px;
}

#preview-cookiebanner.mapSizeWide.map-iab-context .text{
    width:100%;
}

#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-cookiebanner.mapSizeWide.map-iab-context #preview-button-container{
    flex-direction: unset;
    align-items: unset;
}


#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-button-container .preview-button{
    margin-bottom:0px;
}

/*eof iab*/


#preview-cookiebanner.mapSizeBoxed #preview-content{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#preview-cookiebanner.mapSizeBoxed #preview-text-container {
    grid-area: 1 / 1 / 2 / 2;
}

#preview-cookiebanner.mapSizeBoxed #preview-button-container {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
}

#preview-cookiebanner #preview-button-container .preview-button {
    height: 20px;
    width: 30%;
    background: #ccc;
}

#preview-cookiebanner .text {
    width: 90%;
    height: 5px;
    margin-bottom: 5px;
    background: #cccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#preview-cookiebanner .text.show_boxed_preview,
#preview-cookiebanner .text.show_mobile_preview {
    display: none;
}

#preview-cookiebanner.mapSizeBoxed .text,
#preview-cookiebanner.mapSizeBoxed .text.show_boxed_preview {
    display: block;
    width: 100%;

}


/* Banner Dimension */
#preview-cookiebanner.mapSizeWide {
    width: 100%;
}

#preview-cookiebanner.mapSizeBoxed {
    width: 50%;
}

#preview-cookiebanner.mapSizeBoxed.mapSizeBig {
    width: 70%;
}

#preview-cookiebanner.mapPositionTopLeft {
    top: 0;
    left: 0;
}

#preview-cookiebanner.mapPositionTopRight {
    top: 0;
    right: 0;
}

#preview-cookiebanner.mapPositionTopCenter {
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}


#preview-cookiebanner.mapPositionBottomLeft {
    bottom: 0;
    left: 0;
}

#preview-cookiebanner.mapPositionBottomRight {
    bottom: 0;
    right: 0;
}

#preview-cookiebanner.mapPositionBottomCenter {
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}

/* floating banner*/
#preview-cookiebanner.mapPositionTopLeft.map_floating_banner,
#preview-cookiebanner.mapPositionTopRight.map_floating_banner,
#preview-cookiebanner.mapPositionTopCenter.map_floating_banner {
    top: 30px;
}

#preview-cookiebanner.mapPositionBottomLeft.map_floating_banner,
#preview-cookiebanner.mapPositionBottomRight.map_floating_banner,
#preview-cookiebanner.mapPositionBottomCenter.map_floating_banner {
    bottom: 10px;
}

#preview-cookiebanner.mapPositionTopLeft.map_floating_banner,
#preview-cookiebanner.mapPositionBottomLeft.map_floating_banner,
#preview-cookiebanner.mapPositionCenterLeft.map_floating_banner {
    left: 10px;
}

#preview-cookiebanner.mapPositionTopRight.map_floating_banner,
#preview-cookiebanner.mapPositionBottomRight.map_floating_banner,
#preview-cookiebanner.mapPositionCenterRight.map_floating_banner {
    right: 10px;
}

#preview-cookiebanner.mapSizeWide.map_floating_banner {
    width: calc(100% - 20px);
}





#preview-cookiebanner.mapPositionCenterLeft {
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
}

#preview-cookiebanner.mapPositionCenterRight {
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
}

#preview-cookiebanner.mapPositionCenterCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}


/* title container & content container */
#preview-cookiebanner #preview-title {
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    background: red;
}

#preview-cookiebanner #preview-title .banner-title-logo {

    width: 25px;
	height: 15px;
	background-color: #F93F00;
    -webkit-mask-image: url('../svg/fox-black.svg');
    mask-image: url('../svg/fox-black.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}



#preview-cookiebanner #preview-content {
    padding: 10px 20px 5px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* mobile view */
#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-content {
    grid-template-columns: 2fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-cookiebanner {
    width: 100%;
}

#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-cookiebanner.map_floating_banner {
    width: calc(100% - 20px);
}

#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-text-container {
    grid-area: 1 / 1 / 2 / 2;
}
#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-text-container .text.show_boxed_preview,
#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-text-container .text {
    width: 100%;
    display: block;
}

#my_agile_privacy_backend #live-preview .browser.mobile-view #preview-button-container {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
}


/* preview button */
#accept-detail-preview .preview-button  {
    width: 40%;
    min-width: 130px;
    padding: 15px 30px;
    background: #ccc;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accept-detail-preview .preview-button .preview-button-icon {
    width: 25px;
	height: 15px;
	background-color: #F93F00;
    -webkit-mask-image: url('../svg/check-duotone.svg');
    mask-image: url('../svg/check-duotone.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}


/* TEXT AND TRANSLATIONS PREVIEW */

#my_agile_privacy_backend.translationsWrapper {
    font-size: 16px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .browser {
    position: relative;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    min-height: 550px;
    margin-top: 10px;
    background: #fefefe;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .browser.with_overlay {
    background: rgba(0, 0, 0, 0.08);
}

/* #my_agile_privacy_backend.translationsWrapper .text-preview .browser:before {
    display: block;
    position: absolute;
    content: '';
    top: 0.75em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
} */

#my_agile_privacy_backend.translationsWrapper .text-preview .preview-cookiebanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    min-height: 210px;
    padding-bottom: 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#my_agile_privacy_backend.translationsWrapper .text-preview .preview-title {
    padding: 5px 20px;
    background: #3D3D3D;
    color: #fff;
    margin-bottom: 20px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .preview-text-container {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0 20px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .preview-text-container input,
#my_agile_privacy_backend.translationsWrapper .text-preview .preview-text-container textarea {
    background: none;
    padding: 0;
    border: none;
    resize: none;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .preview-button-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#my_agile_privacy_backend.translationsWrapper .text-preview .preview-button-container .preview-button {
    height: 40px;
    width: 30%;
    background: #3D3D3D;
    color: #fff;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#my_agile_privacy_backend.translationsWrapper [data-edit] {
    position: relative;
    padding: 2px;
    margin: 1px 0;
    border-bottom: 1px dotted #664d03;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .preview-button-container [data-edit] {
    display: block;
}

#my_agile_privacy_backend.translationsWrapper [data-edit]:hover {
    background-color: #fff3cd !important;
    cursor: pointer;

}

#my_agile_privacy_backend.translationsWrapper .preview-title [data-edit]:hover,
#my_agile_privacy_backend.translationsWrapper .text-preview .preview-button-container [data-edit]:hover {
    color: #000 !important;
}

/* #my_agile_privacy_backend.translationsWrapper .text-preview [data-edit]:hover::after {
    position: absolute;
    content: '✏️';
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 4px 4px 4px 30px;
    background: linear-gradient(to right, transparent 0%, #fff3cd 40%);
    font-size: 13px;
} */



#my_agile_privacy_backend.translationsWrapper .text-preview .my-agile-privacy-consent-again {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #fff;
    font-size: 12px;
    padding: 6px 15px 6px 40px;
    color: #444;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#my_agile_privacy_backend.translationsWrapper .text-preview .map_logo_container {
    position: absolute;
	top: -1px;
    display: block;
	left: 6px;
    width: 25px;
	height: 100%;
	background-color: #F93F00;
    -webkit-mask-image: url('../img/fox-black.svg');
    mask-image: url('../img/fox-black.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .second-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 650px;
    height: 400px;
    padding: 20px 25px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

#my_agile_privacy_backend.translationsWrapper .text-preview .second-layer .cookie-placeholder-list div {
    margin-bottom: 5px;
    background: #F2F2F2;
    padding: 12px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .second-layer .second-layer-tab {
    display: block;
    padding: 4px 12px;
    background-color: #f2f2f2;
}

#my_agile_privacy_backend.translationsWrapper .text-preview .second-layer .second-layer-tab:first-child {
    background-color: #0092baa8;
}



.modal-backdrop {
    opacity: 0.5 !important;
    z-index: 99998 !important;
}

#my_agile_privacy_backend.translationsWrapper .modal {
    z-index: 99999 !important;
}
/* Stile per la modale */
#my_agile_privacy_backend.translationsWrapper .modal-dialog {
    width: 80%;
    max-width: 800px !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#my_agile_privacy_backend.translationsWrapper .modal-content {
    min-height: 200px;
    max-height: 600px;
}

#my_agile_privacy_backend.translationsWrapper .modal-body {
    overflow-y: auto;
}

#my_agile_privacy_backend.translationsWrapper .modal-body textarea {
    min-height: 200px;
    resize: vertical;
}

#my_agile_privacy_backend.translationsWrapper .modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#my_agile_privacy_backend.translationsWrapper .modal-footer .btn-primary {
    background-color: #F93F02;
    border-color: #F93F02;
}

#my_agile_privacy_backend.translationsWrapper .modal-footer .btn-primary:hover,
#my_agile_privacy_backend.translationsWrapper .modal-footer .btn-primary:focus,
#my_agile_privacy_backend.translationsWrapper .modal-footer .btn-primary:active {
    background-color: #d93500;
    border-color: #d93500;
}



